<!DOCTYPE html>
<html lang="en">
	<head>
  	<meta charset="utf-8">
  	<meta name="description" content="Your description goes here">
  	<meta name="keywords" content="one, two, three">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>Blank Template</title>

		<!-- external CSS link -->
		<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<header>
			<section class="left">
				<img class = "bbc" src="BBClogo.png">
				<span class="signin"><a href="#">Sign In</a></span>
			</section>
			<section class="navbar">
				<nav>
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">News</a></li>
						<li><a href="#">Sport</a></li>
						<li><a href="#">Reel</a></li>
						<li><a href="#">Worklife</a></li>
						<li><a href="#">Travel</a></li>
						<li><a href="#">Future</a></li>
						<li><a href="#">Culture</a></li>
						<li><a href="#">More</a></li>
						<form class="searchbar">
							<input type="text" name="sbar" placeholder="Search..">
						</form>
					</ul>
				</nav>
		</header>
		<section class=aboveText>
		<h2 class="in clearfix">Welcome To BBC.com</h2>
		<h2 class = "date clearfix">Thursday, August 27th</h2>
		</section>
		<section class="bodyleft">
			<h2>Israel and UAE strike historic peace deal</h2>
			<p>Israel and UAE agree to normalize relations, marking the third Israel-Arab peace deal</p>
			<span>Middle East</span>
			</section class="four">
				<section class="bodyright">
					<section class="float can">
						<h2>Online Work Gym</h2>
						<span>Worklife</span>
					</section>
					<section class="float">
						<h2>Americans go home</h2>
						<span>United States</span>
					</section>
					<section class="float">
						<h2>How Will the World Vaccinate Seven Billion People?</h2>
						<span>Health</span>
					</section>
					<section class="float">
						<h2>Folk Singer Murdered for His Music</h2>
						<span>Culture</span>
					</section>
				</section>
		<section class="news">News
		</section>
		<section class=veryBottom>
			<section class="bot">
						<img class ="botImg" src = "biden.png">
						<h2>Kamala and Biden call Trump a fool.</h2>
						<span>US Politics</span>
					</section>
					<section class="bot">
						<img class ="botImg" src = "solid.png">
						<h2>Women form solidarity chains in Belarus</h2>
						<span>International</span>
					</section>
					<section class="bot">
						<img class ="botImg" src = "trump.png">
						<h2>Trump says low pressure shower heads won't wash</h2>
						<span>US & CANADA</span>
					</section>
		</section>

		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
